{% extends 'layout.html' %}


{% block body %}


<script src="http://code.highcharts.com/highcharts.js"></script> 

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#configCollapse" aria-expanded="false" aria-controls="configCollapse">
    CBT Run configs
  </button>
</p>
<div class="collapse" id="configCollapse">
  <div class="card card-body">
    <ul class="list-group">
      {% for key,val in run_configuration.items() %}
        <li class="list-group-item"><b>{{ key|safe }}:</b> {{ val|safe}}</li> 
      {% endfor %}      
    </ul>
  </div>
</div>


<!-- ############################# OUTPUT TABS ############################## -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      {% for output in viz_data.keys() %}
        <a class="nav-item nav-link" id="nav-{{ output }}-tab" data-toggle="tab" href="#nav-{{ output }}" role="tab" aria-controls="nav-{{ output }}" aria-selected="false">{{ output }}</a>
      {% endfor %}
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
    {% for output in viz_data.keys() %}

      <!-- ############################# OUTPUT TAB CONTENT ############################## -->

      <div class="tab-pane fade" id="nav-{{ output }}" role="tabpanel" aria-labelledby="nav-{{ output }}-tab">
        <!-- {% set len = viz_data|length %} -->
       <!--  <p>this is len val inside block {{ len }}</p> -->

        <!-- ############################# CONCURRENT PROCESS OUTPUT TABS ############################## -->

        <ul class="nav nav-tabs" id="myTab{{ output }}" role="tablist">
            {% for id in range(viz_data[output].keys()|length)%}
              <li class="nav-item">
                <a class="nav-link" id="{{ output }}{{ id }}-tab" data-toggle="tab" href="#{{ output }}{{ id }}" role="tab" aria-controls="{{ output }}{{ id }}" aria-selected="false">Output of Proc {{ id + 1 }}</a>
              </li>
            {% endfor %}
        </ul>


        <div class="tab-content" id="myTabContent">
          {% for key in viz_data[output].keys() %}
              <!-- ############################# CONCURRENT PROCESS OUTPUT TABS  CONTENT( 0 and 1) ############################## -->

              <div class="tab-pane fade" id="{{ output }}{{ key }}" role="tabpanel" aria-labelledby="{{ output }}{{ key }}-tab">

                  <ul class="nav nav-pills" id="pills-tab-{{ output }}{{ key }}" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home{{ output }}{{ key }}-tab" data-toggle="pill" href="#home-{{ output }}{{ key }}" role="tab" aria-controls="home-{{ output }}{{ key }}" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-global{{ output }}{{ key }}-tab" data-toggle="pill" href="#menu1-{{ output }}{{ key }}" role="tab" aria-controls="menu1-{{ output }}{{ key }}" aria-selected="false">Global Options</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-jobs{{ output }}{{ key }}-tab" data-toggle="pill" href="#menu2-{{ output }}{{ key }}" role="tab" aria-controls="menu2-{{ output }}{{ key }}" aria-selected="false">Jobs Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-disk{{ output }}{{ key }}-tab" data-toggle="pill" href="#menu3-{{ output }}{{ key }}" role="tab" aria-controls="menu3-{{ output }}{{ key }}" aria-selected="false">Disk Utility</a>
                    </li>
                  </ul>
                
                  <div class="tab-content">
                    
                    <div id="home-{{ output }}{{ key }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home{{ output }}{{ key }}-tab">
                      <h4>Home</h4>
                      <p>This visualization displays results from the following information:</p>
                        <ul class="list-group">
                          {% set basic_info = viz_data[output][key]['basic_info'] %}
                          {% if basic_info|length == 0 %}
                            <p class="font-weight-bold font-italic">{{ data_unavaliable }}</p>
                          {% else %}                         
                            {% for key,val in basic_info.items() %}
                              <li class="list-group-item"><b>{{ key|safe }}:</b> {{ val|safe}}</li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                    </div>
                    
                    <div id="menu1-{{ output }}{{ key }}" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-global{{ output }}{{ key }}-tab">
                      <h4>Global Options</h4>
                      <p>This section displays the parameters used to setup the experiment</p>
                        <ul class="list-group">
                          {% set global_info = viz_data[output][key]['global_info'] %}
                          {% set basic_info = viz_data[output][key]['basic_info'] %}
                          {% if global_info|length == 0 %}
                            <p class="font-weight-bold font-italic">{{ data_unavaliable }}</p>
                          {% else %} 
                            {% for key,val in global_info.items() %}
                              <li class="list-group-item"><b>{{ key|safe }}:</b> {{ val|safe}}</li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                    </div>
                    
                    <div id="menu2-{{ output }}{{ key }}" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-jobs{{ output }}{{ key }}-tab">
                      <h4>Jobs Info</h4>
                      <p>This section displays the test results of the experiment</p>
                        {% set charts = viz_data[output][key]['charts'] %}
                        {% for chart in charts %}
                          {% for c in chart %}
                            <div id="{{ c['chartID']|safe }}" class="{{ c['chart']['renderTo']|safe }}" style="height:400px; width: 400px; float: left;"></div>
                            <script type="text/javascript"> 
                              var {{ 'chart_id'+c['id'] }} = {{ c['chartID']|safe }}
                              var {{ 'series'+c['id'] }} = {{ c['series']|tojson|safe }}
                              var {{ 'title'+c['id'] }} = {{ c['title']|tojson|safe }}
                              var {{ 'xAxis'+c['id'] }} = {{ c['xAxis']|tojson|safe }}
                              var {{ 'yAxis'+c['id'] }} = {{ c['yAxis']|tojson|safe }}
                              var {{ 'chart'+c['id'] }} = {{ c['chart']|tojson|safe }} 
                            </script>
                          {% endfor %}
                        {% endfor %}  

                        <script type="text/javascript">
                              $(document).ready(function() {
                                {% for chart in charts %}
                                  {% for c in chart %}
                                      $({{ c['chartID']|safe }}).highcharts({
                                        chart: {{ 'chart'+c['id'] }},
                                        title: {{ 'title'+c['id'] }},
                                        xAxis: {{ 'xAxis'+c['id'] }},
                                        yAxis: {{ 'yAxis'+c['id'] }},
                                        series: {{ 'series'+c['id'] }}
                                      });
                                  {% endfor %}
                                {% endfor %}  
                              });         
                          
                          </script>
                    </div>

                    <div id="menu3-{{ output }}{{ key }}" class="tab-pane fade" role="tabpanel" aria-labelledby="pills-disk{{ output }}{{ key }}-tab">
                      <h4>Disk Utility</h4>
                      <p>This section displays the information related to disk utility during the test run.</p>
                        <ul class="list-group">
                          {% set disks = viz_data[output][key]['disk_util_data'] %}
                          {% if disks|length == 0 %}
                            <p class="font-weight-bold font-italic">{{ data_unavaliable }}</p>
                          {% else %}
                            {% for key,val in disks.items() %}
                              <li class="list-group-item"><b>{{ key|safe }}:</b> {{ val|safe}}</li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                    </div>
                 
                  </div>
              </div>            
          {% endfor %} 

        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}